.admin-table-card {
  width: 100%;
  justify-content: center;
  text-align: center;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
.selectbox .css-b62m3t-container .css-t3ipsp-control {
  width: 100% !important;
  background-color: #202c74 !important;
  color: white !important;
  border: none;
}

.selectbox .css-b62m3t-container .css-t3ipsp-control .css-1dimb5e-singleValue {
  background-color: #202c74 !important;
  color: white !important;
}

.selectbox .css-b62m3t-container .css-13cymwt-control {
  background-color: #202c74 !important;
  color: white !important;
}
.selectbox .css-b62m3t-container .css-13cymwt-control .css-1dimb5e-singleValue {
  background-color: #202c74 !important;
  color: white !important;
}
.selectbox .css-b62m3t-container .css-1nmdiq5-menu div {
  background-color: #202c74 !important;
  color: white !important;
  /* width: 784.705px !important; */
}
.pagination li {
  width: 30px;
  height: 30px;
  border: 2px solid #1c345d;
  gap: 20px;
  background-color: aliceblue;
  font-size: bold !important;
  border-radius: 50%;
  padding: 5px;
  gap: 5px;
  font-family: "Times New Roman", Times, serif !important;
}

div .container ul {
  margin-right: 0% !important;
  margin: auto;
  color: red !important;
  font: red !important;
}
.modal-content {
  background-color: #f5f6f8;
}

.modal-content .modal-body .container {
  width: fit-content !important;
  background-color: white;
}

.modal-content .modal-body .container button {
  width: fit-content !important;
}

.inputdiv .css-t3ipsp-control {
  width: 324px !important;
}

.inputdiv .css-b62m3t-container .css-1nmdiq5-menu div {
  background-color: #172b4d !important;
}

.cardhead {
  background-color: 38343c;
  font-size: larger;
  color: white;
}
.font {
  margin-top: 10px;
  font-weight: 500;
  color: #1c345d;
  font-size: larger;
}

.tablehead {
  background-color: white !important ;
  color: #4677c3 !important;
  text-transform: capitalize;
  border: 2px solid #ebeff2 !important;
  border-right: none !important;
  border-left: none !important;
  padding: 0% !important;
  height: 50px !important;
}

.tablebody {
  background-color: white !important;
  border: none;
}
.tableborder {
  border-color: #ebeff2;
  border-right: none !important;
  border-left: none !important;
}

.bodytext {
  background-color: white !important;
  color: black !important;
  border-color: #ebeff2 !important;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  border: 2px solid #ebeff2;
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}
.tablediv {
  margin-top: 10px;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 1px;
  width: auto;
  border: 3px solid white;
  border-top: none;
  border-radius: 3px;
}

.formcontainer {
  padding: 10px;
  background-color: white !important;
}
.subform {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.lbel {
  color: #4677c3;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 500 !important;
  margin: 9px;
}

.labediv {
  flex: 1;
}

.inputdiv {
  flex: 2;
  padding: 1px;
}
.inputtag {
  margin: 5px;
  outline: none;
  color: #4677c3;
  font-weight: 500;
  background-color: aliceblue;
}
.MuiPaper-elevation4 {
  box-shadow: none !important;
  background-color: #f5f6f8;
  text-align: left;
}

.MuiPaper-elevation4 div h4 {
  background-color: #f5f6f8;
  color: #6d6d6d;
  font-weight: 600;
  width: fit-content !important ;
  display: inline;
  /* margin-left: 20px; */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.App div {
  padding: 0% !important;
}

.makeStyles-link-3 {
  margin-top: 20px !important;
  top: 90%;
}
.formheadingcontainer {
  background-color: white;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: larger;
  color: #172b4d;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.makeStyles-link-3 h6 {
  margin-top: 3px;
  margin: auto;
  font-size: large;
  color: #1ea2f2;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
.sidebarcontainer {
  position: fixed;
  background-color: white;
  height: 100%;
  width: 150px;
  box-shadow: 4px 0 6px rgba(101, 100, 100, 0.5);
}
#sidebar {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  gap: 30px;
}
.card-body div button {
  background-color: #182c74 !important;
  color: white !important;
  border-radius: 4px;
  border: none;
}

.tablebody button:nth-child(2) {
  background-color: rgb(222, 31, 31) !important;
  color: white !important;
  border-radius: 4px;
  border: none;
}

.tablebody button:nth-child(1) {
  background-color: #189cf4 !important;
  color: white !important;
  border-radius: 4px;
  border: none;
}

.default-home-cards {
  padding: 0% !important;
  display: flex !important;
  justify-content: center !important;
  width: 50% !important;
}
.default-home-cards footer {
  margin: auto !important;
  margin-left: 50% !important;
}
.search-result-screen div .css-1ujsas3 {
  display: none !important;
}

.searchdiv {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  gap: 30px;
}

.result-searchdiv .searchdiv {
  width: 70% !important;
  display: flex !important;
  flex-direction: column;
}
.searchdiv .css-s18byi {
  width: 140% !important;
}

.searchdiv .css-s18byi .css-1m5f78l {
  display: flex !important;
}
.result-searchdiv {
  margin-top: 50px;
}
.cardBodyContainer {
  display: flex;
  gap: 50px;
  background-color: #ececec !important;
}

.default-home-cards div {
  width: 100%;
  gap: 50px;
  width: 260px !important;
}
.default-home-cards .searchdiv .css-d9xncm {
  margin-top: 0% !important;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.css-1dimb5e-singleValue {
  color: white !important;
}
.default-home-cards .searchdiv .css-d9xncm:hover {
  -webkit-transform: scale(1.05); /* Increase size by 5% on hover */
  transform: scale(1.05); /* Increase size by 5% on hover */
}

.MuiCardContent-root .css-46bh2p-MuiCardContent-root {
  display: flex !important;
  flex-direction: column !important;
}
.searchpagebuttondiv button {
  width: 6em;
  background-color: #086c74;
}

.pagination {
  display: flex;
  gap: 10px;
  margin: auto;
  margin-right: 1px;
  width: fit-content;
}
.pagination li::marker {
  content: none !important;
}
.paginationcontainer {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}
.card-header {
  color: #172b4d;
  text-align: left;
  font-size: large;
  font-weight: 500;
}
.close-button {
  height: 40px !important;
  position: unset;
  margin: auto;
  margin-right: 1px;
  width: 50px !important;
  background-color: black !important;
}

.lowercontainer {
  display: flex;
  gap: 10em;
  height: fit-content;
  width: fit-content;
}
.detail-image-div {
  display: flex;
  height: 36em;
}
.img360 {
  width: 75%;
}
.img360 iframe {
  width: 100%;
  height: 100%;
}
.homeHeader {
  display: flex;
}
.logodiv .headerlink {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 600;
}
.footerlogo .footerlink {
  float: left;
  width: 100%;
  display: flex;
}
.footerlowerdiv {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  margin-top: 0% !important;
}

.footer-social-icon a svg {
  height: 80px;
  width: 50px;
  color: #509c9c;
}
.footer-social-icon a {
  float: right;
}
.footer-social-icon {
  float: right;
  width: 60%;
}
.footer-copyright p.copyright {
  float: left;
  font-size: medium;
  font-weight: 600;
}
.footer-copyright {
  width: 60%;
}
footer.footerdiv hr {
  margin-top: 4em;
  border-top: 2px solid #868181;
}
.toogle-filter div {
  width: 100%;
  border-radius: 8px;
  border: 1px solid hsl(0deg 0% 99.7% / 78.8%);
  height: 2.5em;
  background-color: white;
}
.toogle-filter {
  border-radius: 8px;
}
.toogle-filter div button {
  color: black;
  font-size: 0.8em;
  font-weight: 600;
}
.detail-button {
  background-color: #086c74 !important;
}

.logodiv {
  width: 95vw;
}

.other-images {
  width: 25%;
  overflow-y: auto;
  height: 100%;
}
.other-images img {
  width: 100%;
  height: 30%;
}

.detail-screen .home-page-banner {
  height: fit-content !important;
}
.detailcomponent p {
  font-size: 30px;
  font-weight: 600;
}

.detail-info-div {
  flex: 2;
  font-size: large;
  justify-content: left;
  text-align: left;
}
.infodiv {
  width: 30em;
}
.rowicon {
  display: flex;
  gap: 8em;
  margin-left: 1em;
  margin-top: 1em;
  width: 600px !important;
}
.rowicon div {
  gap: 20px;
}
.detail-icon-div {
  height: 400px !important;
  width: 50vw !important;
  background-color: #f4f4f4;
  border-radius: 4px;
  border: 1px solid black;
}
.home-page-banner h1 {
  font-size: 600% !important;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
}

@media (max-width: 360px) {
  .cardBodyContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .cardBodyContainer .filter-button-div {
    background-color: rgb(248, 244, 244);
    display: flex;
    flex-direction: row !important;
    margin-top: 40px;
    width: 100%;
    padding-top: 50px !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
    gap: 30px;
  }
  .result-searchdiv .searchdiv {
    display: flex !important;
    flex-direction: column;
  }
  .result-searchdiv .searchdiv div button {
    display: flex !important;
    flex-direction: column !important;
    width: auto !important;
  }
  .contentdiv {
    display: block !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .default-home-footer-div {
    width: 78vmax !important;
  }
  .contentdiv {
    display: flexbox !important;
    flex-direction: row;
    gap: 10px !important;
  }
  .home-screen {
    width: 100vw;
  }

  .searchdiv {
    width: 240px !important;
    gap: 30px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }

  .default-home-cards .searchdiv {
    width: 240px !important;
  }

  .home-page-banner h1 {
    font-size: 6vw !important;
  }
  .home-page-banner {
    width: 200vw !important;
  }
  .homeselect {
    width: 635px !important  ;
  }
  .home-screen-card-section-heading {
    width: 635px !important  ;
  }
  .home-screen-card-section-bottom {
    width: 635px !important  ;
  }
  .home-screen {
    width: max-content;
  }
  .default-home-cards {
    width: 55vw !important;
  }
}

@media (min-width: 361px) and (max-width: 414px) {
  .cardBodyContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .cardBodyContainer .filter-button-div {
    background-color: rgb(248, 244, 244);
    display: flex;
    flex-direction: row !important;
    margin-top: 40px;
    width: 100%;
    padding-top: 50px !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
    gap: 30px;
  }
  .result-searchdiv .searchdiv {
    display: flex !important;
    flex-direction: column;
  }
  .result-searchdiv .searchdiv div button {
    display: flex !important;
    flex-direction: column !important;
    width: auto !important;
  }
  .contentdiv {
    display: block !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .default-home-footer-div {
    width: 83vmax !important;
  }
  .contentdiv {
    display: flexbox !important;
    flex-direction: row;
    gap: 10px !important;
  }
  .home-screen {
    width: 100vw;
  }

  .searchdiv {
    width: 240px !important;
    gap: 30px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }

  .default-home-cards .searchdiv {
    width: 240px !important;
  }

  .home-page-banner h1 {
    font-size: 6vw !important;
  }
  .home-page-banner {
    width: 200vw;
  }
  .homeselect {
    width: 635px !important  ;
  }
  .home-screen-card-section-heading {
    width: 635px !important  ;
  }
  .home-screen-card-section-bottom {
    width: 635px !important  ;
  }
  .home-screen {
    width: max-content;
  }
  .default-home-cards {
    width: 60vw !important;
  }
  .logodiv {
    width: 180vw;
  }
}
@media (min-width: 415px) and (max-width: 600px) {
  .cardBodyContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .cardBodyContainer .filter-button-div {
    background-color: rgb(248, 244, 244);
    display: flex;
    flex-direction: row !important;
    margin-top: 40px;
    width: 100%;
    padding-top: 50px !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
    gap: 30px;
  }
  .result-searchdiv .searchdiv {
    display: flex !important;
    flex-direction: column;
  }
  .result-searchdiv .searchdiv div button {
    display: flex !important;
    flex-direction: column !important;
    width: auto !important;
  }
  .contentdiv {
    display: block !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .default-home-footer-div {
    width: 120vmax !important;
  }
  .contentdiv {
    display: flexbox !important;
    flex-direction: row;
    gap: 10px !important;
  }
  .home-screen {
    width: 100vw;
  }

  .searchdiv {
    width: 240px !important;
    gap: 30px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }

  .default-home-cards .searchdiv {
    width: 240px !important;
  }

  .home-page-banner h1 {
    font-size: 6vw !important;
  }
  .home-page-banner {
    width: 200vw;
  }
  .homeselect {
    width: 190vw !important;
  }
  .home-screen-card-section-heading {
    width: 635px !important  ;
  }
  .home-screen-card-section-bottom {
    width: 635px !important  ;
  }
  .home-screen {
    width: max-content;
  }
  .default-home-cards {
    width: 30vw;
  }
}

@media (min-width: 601px) and (max-width: 720px) {
  .cardBodyContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .cardBodyContainer .filter-button-div {
    background-color: rgb(248, 244, 244);
    display: flex;
    flex-direction: row !important;
    margin-top: 40px;
    width: 100%;
    padding-top: 50px !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
    gap: 30px;
  }
  .result-searchdiv .searchdiv {
    display: flex !important;
    flex-direction: column;
  }
  .result-searchdiv .searchdiv div button {
    display: flex !important;
    flex-direction: column !important;
    width: auto !important;
  }
  .contentdiv {
    display: block !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .default-home-footer-div {
    width: 120vmax !important;
  }
  .contentdiv {
    display: flexbox !important;
    flex-direction: row;
    gap: 10px !important;
  }
  .home-screen {
    width: 100vw;
  }

  .searchdiv {
    width: 240px !important;
    gap: 30px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .default-home-cards .searchdiv {
    width: 240px !important;
  }

  .home-page-banner h1 {
    font-size: 6vw !important;
  }
  .home-page-banner {
    width: 200vw;
  }
  .homeselect {
    width: 190vw !important;
  }
  .home-screen-card-section-heading {
    width: 145vh !important;
  }
  .home-screen-card-section-bottom {
    width: 635px !important  ;
  }
  .home-screen {
    width: max-content;
  }
  .default-home-cards {
    width: 30vw;
  }
}
@media (min-width: 721px) and (max-width: 1120px) {
  .cardBodyContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .cardBodyContainer .filter-button-div {
    background-color: rgb(248, 244, 244);
    display: flex;
    flex-direction: row !important;
    margin-top: 40px;
    width: 100%;
    padding-top: 50px !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(212, 212, 212);
    border-image: initial;
    gap: 30px;
  }
  .result-searchdiv .searchdiv {
    display: flex !important;
    flex-direction: column;
  }
  .result-searchdiv .searchdiv div button {
    display: flex !important;
    flex-direction: column !important;
    width: auto !important;
  }
  .contentdiv {
    display: block !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
  }
  .default-home-footer-div {
    width: 120vmax !important;
  }
  .contentdiv {
    display: flexbox !important;
    flex-direction: row;
    gap: 10px !important;
  }
  .home-screen {
    width: 100vw;
  }

  .searchdiv {
    width: 240px !important;
    gap: 30px !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .default-home-cards .searchdiv {
    width: 240px !important;
  }

  .home-page-banner h1 {
    font-size: 6vw !important;
  }
  .home-page-banner {
    width: 200vw;
  }
  .homeselect {
    width: 190vw !important;
  }
  .home-screen-card-section-heading {
    width: 635px !important  ;
  }
  .home-screen-card-section-bottom {
    width: 635px !important  ;
  }
  .home-screen {
    width: max-content;
  }
  .default-home-cards {
    width: 30vw;
  }
}
