.contain {
  margin: 0 auto;
  margin-top: 100px;
    width: 50%; 
  
    
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
    
  }
  
  label {
    display: block; 
    /* margin-bottom: 2px; */
    width: 100px;
  margin-top: 6px;
  
  }

  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
.btn{
  background-color: blue;
    width: 100%;
      padding: 10px;
      margin-top: 10px;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 20%;
   
}
.btnclose{
  background-color: blue;
    width: 100%;
    padding: 10px;
    margin:auto;
    margin-bottom: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* width: 10%; */
}

  @media (max-width: 768px) {
    .container {
          margin-top: 100px;
      width: 300px;
    }
  }
  
  .redirection-link {
    cursor: pointer;
    color: blue;
    text-align: center;
  }
  
  .loading-class {
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    .container {
      margin-top: 100px;
    }
  }
  .container {
  margin: 0 auto;
  margin-top: 100px;
    width: 40%; 
  
    
    padding: 20px;
    background-color:#172b4d;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .sidebarcontainer{
    position: fixed;
    background-color: white ;
    box-shadow: 2px 2px 2px 2px #f3f3f3;
    height: 100%;
   

  }
  #sidebar{
    display: flex;
    flex-direction: column;
   
  }

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .addbtn{
background-color: aliceblue  ;
border-radius: 4px;
padding: 1px;
justify-content: center;
text-align: center;
  }

.inpt{
  width: 100px;
}  
  
.btn{
  background-color: blue;
    width: 100%;
      padding: 10px;
      margin-top: 10px;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 20%;
   
}

.btnclose{
  background-color: blue;
    width: 100%;
    padding: 10px;
    margin:auto;
    margin-bottom: 10px;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* width: 10%; */
}

  @media (max-width: 768px) {
    .container {
          margin-top: 100px;
      max-width: 300px;
    }
    
  }
  
  .redirection-link {
    cursor: pointer;
    color: blue;
    text-align: center;
  }
  
  .loading-class {
    text-align: center;
  }
  @media only screen and (max-width: 600px) {
    .container {
      margin-top: 100px;
    }
  }
  