.contain {
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;

  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 15px;
  display: flex;
  gap: 10px;
}

label {
  display: block;
  /* margin-bottom: 2px; */
  width: 100px;
  margin-top: 6px;
}

.home-page-banner {
  height: 350px;
  justify-content: center;
  text-align: center;
}
.home-page-banner h1 {
  font-size: 600% !important;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
}
.css-19bb58m {
  color: white !important;
}

.home-screen div:nth-child(4) {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}
.select-range div {
  width: 300px;
}
.select-range div div span {
  font-size: 15px;
  color: #006d77;
}
.filterbutton .css-b62m3t-container .css-t3ipsp-control {
  width: 248.5px !important;
}

.select-city-button .css-b62m3t-container .css-t3ipsp-control {
  background-color: #006d77 !important;
  width: 150px !important;
}
.search-result-screen {
  gap: 39px;
  margin-top: 20px !important;
}
.select-city-button .css-b62m3t-container .css-13cymwt-control {
  background-color: #006d77 !important;
  border: none;
  border-radius: 8px;
  height: 40px;
}
.select-city-button
  .css-b62m3t-container
  .css-13cymwt-control
  .css-1fdsijx-ValueContainer
  .css-1dimb5e-singleValue {
  color: white !important
    ;
}
.home-search-button button {
  background-color: #006d77 !important;
  height: 40px;
  width: 80px;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: medium;
}
.actioncontainer div:nth-child(3) button {
  background-color: #006d77 !important;
  height: 40px !important;
  width: 80px !important;
  border: none !important;
  border-radius: 6px !important;
  color: #fff;
  font-size: medium;
  margin-top: 0px !important;
}
.css-1gv0vcd-MuiSlider-track {
  background-color: black !important;
  color: black !important;
  height: 1px !important;
}
.MuiSlider-thumb {
  color: black !important;
}
.MuiSlider-rail {
  color: rgb(37, 37, 37) !important;
}
.css-1nmdiq5-menu {
  background-color: #086c74 !important ;
  color: white;
}

.css-1nmdiq5-menu div {
  background-color: #086c74 !important;
  color: white;
}
.css-1u9des2-indicatorSeparator {
  display: none;
}
.css-1dimb5e-singleValue {
  color: #fff !important;
  font-size: 15px !important;
}
.css-1xc3v61-indicatorContainer {
  color: #fff !important;
}
.search button {
  width: 140px;
  background-color: #006d77 !important;
}
.home-screen-card-section-heading {
  font-size: 39px;
}
.default-home-cards {
  margin: 100px;
}

.div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.cardsdiv div {
  margin: 0px !important;
}

.cardbottom button {
  width: 100px;
  margin: 0% !important ;
  margin-right: 2px !important;
  background-color: #006d77;
}
.cardheading {
  padding: 0%;
  font-size: 19px !important;
  font-weight: 800 !important   ;
}
.secondheading {
  margin-top: 30px !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  color: black !important;
}
.cardmiddle {
  margin-top: 40px !important;
  justify-content: center;
  display: flex;
  gap: 20px;
}

.cardbottom {
  margin-top: 50px !important;
  gap: 70px;
  margin-left: 10px;
}
.cardimg {
  height: 100px !important;
  width: 300px !important;
  margin-top: 0% !important;
  margin: auto !important;
}
.app button svg {
  margin-left: 0% !important;
  margin: auto !important ;
}
.home-screen-card-section-bottom {
  justify-content: center;
  text-align: center;
  align-items: center;
  align-content: center;
  width: 100%;
}
.home-screen-card-section-bottom h2 {
  font-size: 45px !important;
  /* width: 300px !important; */
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  width: 100% !important;
  margin-left: 0% !important;
  margin: auto !important;
  position: fixed;
  background-color: #fff !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #fff !important;
  color: #fff !important;
}

.home-screen div button svg {
  margin: auto !important;
  margin-left: 1px !important;
  height: 50px;
  /* margin:auto !important; */
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  left: 0px !important;
  width: 200px;
}

.css-1km1ehz:hover {
  background-color: #006d77 !important;
}

.css-13cymwt-control {
  background-color: white !important;
}
.actioncontainer {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.sliderdiv {
  width: 290px;
}
.cardBodyContainer .filter-button-div {
  margin-top: 40px;
  padding-top: 50px !important;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: left;
  background-color: #f8f4f4;
  height: 500px;
  border: 1px solid #d4d4d4;
  width: 250px;
  height: 100%;
}
.filterbutton .css-b62m3t-container .css-13cymwt-control {
  background-color: white !important;
  color: black !important;
  border: none;
  border-radius: 8px;
  height: 40px;
  border: 1px solid #d4d4d4;
  width: 248.5px !important;
}
.filterbutton
  .css-b62m3t-container
  .css-13cymwt-control
  .css-hlgwow
  .css-1dimb5e-singleValue {
  color: black !important;
  font-weight: 600 !important;
}
.css-1hw9j7s {
  background-color: #fff !important;
  color: black !important;
}

.filterbutton
  .css-b62m3t-container
  .css-13cymwt-control
  .css-1hb7zxy-IndicatorsContainer
  .css-1xc3v61-indicatorContainer {
  color: black !important ;
}

.filterbutton .css-b62m3t-container .css-t3ipsp-control .css-1nmdiq5-menu {
  background-color: #ffffff !important;
  color: rgb(0, 0, 0) !important;
  width: 100px !important;
}
.css-t3ipsp-control {
  width: 200px;
}
.filterbutton {
  background-color: white !important;
  color: black !important;
  border-radius: 8px;
  height: fit-content!;
  font-weight: 600 !important;
}

.contentdiv {
  display: flex !important;
  flex-direction: row;
  gap: 50px;
}
.detailimages {
  margin-top: 30px;
  height: 20% !important;
}
.searchpagebuttondiv {
  margin-top: 25px !important;
  width: 100px;
}
.detailpagebutton {
  margin-top: 45px !important;
  height: 30px;
  width: 30px;
}
.css-1oitmrd-MuiButtonBase-root-MuiCardActionArea-root {
  -webkit-justify-content: left !important;
}

.detailcardheadingdiv {
  margin: auto !important;
  margin-top: 1px !important;
  padding: 0%;
  background-color: #d4d4d4;
  display: flex;
  border-bottom: 2px solid black;
}
#detailleftdiv {
  padding: 0% !important;
}
.searchcardiv {
  align-items: start !important;
}

.detailcardheading {
  margin: auto !important;
  margin-top: 1% !important;
  margin: auto;
  margin-left: 10px !important;
}
.detailicondiv {
  margin: auto;
  margin-right: 10px;
  display: flex;
  gap: 40px;
}

.select-city-button {
  width: 150px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  background-color: blue;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}
.btnclose {
  background-color: blue;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 10%; */
}

@media (max-width: 768px) {
  .container {
    margin-top: 100px;
    width: fit-content;
  }
}

.redirection-link {
  cursor: pointer;
  color: blue;
  text-align: center;
}

.loading-class {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .container {
    margin-top: 100px;
  }
}
.container {
  margin: 0 auto;
  margin-top: 100px;
  width: 40%;

  padding: 20px;
  background-color: #172b4d;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.addbtn {
  /* background-color: aliceblue; */
  border-radius: 4px;
  padding: 1px;
  justify-content: center;
  text-align: center;
}

.inpt {
  width: 100px;
}

.btn {
  background-color: blue;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
}

.btnclose {
  background-color: blue;
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* width: 10%; */
}

@media (max-width: 768px) {
  .container {
    margin-top: 100px;
    max-width: 300px;
  }
}

.redirection-link {
  cursor: pointer;
  color: blue;
  text-align: center;
}

.loading-class {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .container {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 720px) {
  .filter-button-div {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    background-color: #f8f4f4;
    height: 80px;
    border: 1px solid #d4d4d4;
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .search-result-screen {
    width: 100% !important;
  }

  .select-city-button
    .css-b62m3t-container
    .css-13cymwt-control
    .css-1fdsijx-ValueContainer
    .css-1dimb5e-singleValue {
    color: white !important
    ;
  }

  .filterbutton .css-b62m3t-container .css-13cymwt-control {
    background-color: white !important;
    color: black !important;
    border: none;
    border-radius: 8px;
    height: 40px;
    border: 1px solid #d4d4d4;
    margin-top: 0% !important ;
    width: 100px !important;
  }
  .filterbutton .css-b62m3t-container .css-t3ipsp-control {
    background-color: white !important;
    color: black !important;
    border: none;
    border-radius: 8px;
    height: 40px;
    border: 1px solid #d4d4d4;
    margin-top: 0% !important ;
    width: 100px !important;
  }

  .filterbutton
    .css-b62m3t-container
    .css-13cymwt-control
    .css-1fdsijx-ValueContainer
    .css-1dimb5e-singleValue {
    color: black !important;
    font-weight: 600 !important;
  }

  .filterbutton
    .css-b62m3t-container
    .css-13cymwt-control
    .css-1hb7zxy-IndicatorsContainer
    .css-1xc3v61-indicatorContainer {
    color: black !important;
  }

  .filterbutton .css-b62m3t-container .css-t3ipsp-control .css-1nmdiq5-menu {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
    width: 100px !important;
  }
  .filterbutton {
    background-color: white !important;
    color: black !important;
    border-radius: 8px;
    height: 40px;
    font-weight: 600 !important;
  }
}
